/* line 1, ../sass/_global.scss */
.font__global, th, button {
  font-family: 'Barlow', sans-serif;
}

/* line 4, ../sass/_global.scss */
.design {
  height: 500px;
  width: 800px;
  background-color: white;
  padding: 15px;
  box-shadow: 50px 100px 150px #2c3e50;
  margin: 100px auto;
}

/* line 12, ../sass/_global.scss */
th .table__notes {
  border: 3px solid black;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
}

/* line 18, ../sass/_global.scss */
body {
  background-color: #bce1ff;
  font-family: 'Barlow', sans-serif;
  margin: 0;
}

/* line 23, ../sass/_global.scss */
html {
  font-family: 'Barlow', sans-serif;
}

/* line 26, ../sass/_global.scss */
table {
  border-collapse: collapse;
  float: left;
  margin-left: 20px;
  box-shadow: 10px 10px 15px #2c3e50;
}

/* line 37, ../sass/_global.scss */
td {
  border: 3px solid black;
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
  padding: 0;
}

/* line 44, ../sass/_global.scss */
tr {
  background-color: white;
  margin: 30px;
  box-sizing: border-box;
  max-height: 200px;
}

/* line 50, ../sass/_global.scss */
th {
  background-color: #ffe97c;
}

/* line 54, ../sass/_global.scss */
li {
  width: 100%;
  height: 20px;
  background-color: #e3e6e1;
  margin-top: 0;
  border-bottom: inset;
  cursor: pointer;
}

/* line 62, ../sass/_global.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 67, ../sass/_global.scss */
.icon__comment {
  float: right;
  color: black;
  cursor: pointer;
}
/* line 71, ../sass/_global.scss */
.icon__comment:hover {
  color: #18bc9c;
}

/* line 76, ../sass/_global.scss */
button {
  width: 100px;
  height: 30px;
  background-color: #18bc9c;
  box-shadow: 4px 4px 4px black;
  margin: 5px;
  border-radius: 9px;
  font-weight: 700;
}

/* line 86, ../sass/_global.scss */
.fa {
  float: right;
}
/* line 88, ../sass/_global.scss */
.fa:hover {
  color: #18bc9c;
  cursor: pointer;
}

/* line 1, ../sass/_notes.scss */
.notes {
  height: 400px;
  width: 200px;
}
/* line 4, ../sass/_notes.scss */
.notes > .scroll {
  overflow: auto;
  height: 408px;
}

/* line 1, ../sass/_table.scss */
.horizontal {
  height: 50px;
  width: 200px;
  border: 3px solid black;
}

/* line 6, ../sass/_table.scss */
.vertical {
  height: 200px;
  max-width: 50px;
  width: 50px;
  border: 3px solid black;
}

/* line 12, ../sass/_table.scss */
.empty {
  opacity: 0;
}

/* line 15, ../sass/_table.scss */
.text__vertical {
  transform: rotate(270deg);
  color: black;
  white-space: nowrap;
}

/* line 20, ../sass/_table.scss */
.td__task {
  max-height: 200px;
  width: 200px;
}
/* line 23, ../sass/_table.scss */
.td__task > .box {
  overflow: auto;
  height: 200px;
}

/* line 3, ../sass/list__tasks.scss */
.list__style {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
/* line 7, ../sass/list__tasks.scss */
.list__style:hover {
  color: red;
}

/* line 1, ../sass/_new__task.scss */
.new__task {
  width: 200px;
  background-color: #edf4ff;
  border: 3px solid black;
  margin: auto;
  padding: 20px;
  box-shadow: 10px 10px 120px white;
}

/* line 10, ../sass/_new__task.scss */
.modal {
  margin-top: auto;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 160px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Modal Content */
/* line 27, ../sass/_new__task.scss */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

/* The Close Button */
/* line 36, ../sass/_new__task.scss */
.close {
  color: #000000;
  float: right;
  font-size: 45px;
  font-weight: bold;
  margin-top: -34px;
  margin-right: -6px;
}

/* line 45, ../sass/_new__task.scss */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 2000px) {
  /* line 2, ../sass/media/_media-md-down.scss */
  .design {
    width: 50%;
  }
}
